$primary: #673ab7;
$primary-light: #b39ddb;
$primary-dark: #311b92;

$secondary: #4dd0e1;
$accent: $secondary;
$secondary-light: #b2ebf2;
$accent-light: $secondary-light;
$secondary-dark: #0097a7;
$accent-dark: $secondary-dark;

$black: #000000;
$white: #ffffff;
$shadow: #bababa;
